# --- ROS 2 忽略规则 ---
build/
install/
log/
__pycache__/
*.pyc

# --- VS Code 忽略规则 ---
.vscode/

# --- Keil MDK (STM32) 忽略规则 ---
*.bat
*.hex
*.lnp
*.sct
*.htm
*.plg
*.map
*.d
*.o
*.crf
*.iex
*.axf
*.dep
*.bak
*.uvguix.*
JLinkLog.txt
Objects/
Listings/
DebugConfig/
RTE/