# =======================================================
# 1. STM32 / Keil 垃圾 (专门管 mbot_firmware)
# =======================================================
# Keil 生成的中间编译文件夹 (不管藏在哪一层，统统屏蔽)
Objects/
Listings/
DebugConfig/
MDK-ARM/Objects/
MDK-ARM/Listings/
MDK-ARM/DebugConfig/

# Keil 的工程临时文件
*.uvoptx
*.uvguix.*
*.scvd
*.uvprojx.tmp
*.bak
*.dep
*.map

# 编译出的二进制垃圾
*.o
*.d
*.crf
*.axf
*.htm
*.lnp
*.sct
*.lst
# *.hex  <-- 如果你想保留生成的固件hex文件，就把这行前面加#注释掉

# STM32CubeMX 生成的配置垃圾
.mxproject

# =======================================================
# 2. Python / ROS 垃圾 (专门管 mbot_hardware 等)
# =======================================================
# Python 编译缓存 (必加！否则会有很多 __pycache__ 文件夹)
__pycache__/
*.pyc

# 临时文件
.DS_Store

# =======================================================
# 3. 编辑器垃圾 (VS Code)
# =======================================================
.vscode/